@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-home{
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 1, 44);
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    


}

html,body{
    height: 100%;
    overflow-y: hidden;
}

header{
    height: 200px;
    padding: 20px 0;    
    background-color: rgb(15, 1, 44);
}

.logo{
    width: 50%;
}

.menu{
    width: 50%;
    text-align: right;
}

.menu a{
    color:aquamarine;
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;

}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -320px;
    right: -320px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: rgb(6, 169, 150);
}

.texto-sobre{
    margin-top: -120px;
    
}

.texto-sobre > h1{
    font-size: 50px;
}

.texto-sobre > button{
    border:0;
    background-color: aquamarine;
    color: #271c43;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    cursor: pointer;
}
